// Here you can add other styles

$blue-D96: #7f7f7f;
$primary-color: #edcf82;

.align-center {
  text-align: center !important;
}
.page-item.active .page-link {
  background-color: $primary-color;
  border-color: $primary-color;
  color: black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: $primary-color;
  background-color: $primary-color;
}
.align-right {
  float: right !important;
}
.icon-cards {
  padding: 24px 18px;
  margin-top: 16px;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  //   box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  &:hover {
    background-color: $primary-color;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
      rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
      rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    path {
      fill: white !important;
      stroke: white !important;
    }
  }
}

.active-class {
  background-color: $primary-color;
  //   border: 1px solid white;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  //   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  //     rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  path {
    fill: white !important;
    stroke: white !important;
  }
}
.arrow-icon {
  padding-top: 43px;
  margin-left: 14px;
}

.arrow-icon2 {
  padding-top: 32px !important;
  // padding-top: 43px;
}

.button-color {
  background-color: $primary-color;
  color: white;
  float: right;
  margin-bottom: 16px;
  &:hover {
    color: black;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
      rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
      rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  }
}
.cancel-button-color {
  color: white;
  float: right;
  margin-bottom: 16px;
  padding: 7px;
  margin-right: 10px;
  &:hover {
    color: black;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
      rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
      rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  }
}
.form-shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-top: 40px;
  margin-bottom: 50px;
}
.c-sidebar {
  color: black !important;
  background: white !important;
}
.c-sidebar .c-sidebar-nav-link,
.c-sidebar .c-sidebar-nav-dropdown-toggle {
  font-size: 14px;
  font-weight: 500;
  color: black !important;
  background: transparent;
}
.c-sidebar .c-active.c-sidebar-nav-dropdown-toggle,
.c-sidebar .c-sidebar-nav-link.c-active {
  color: "white" !important;
  background-color: $primary-color !important;
}
.c-sidebar .c-sidebar-nav-title {
  color: black !important;
}
.c-sidebar .c-sidebar-nav-link.c-active,
.c-sidebar .c-active.c-sidebar-nav-dropdown-toggle {
  font-size: 14px;
  font-weight: 500;
  color: black !important;
  path {
    fill: black !important;
    stroke: black !important;
  }
}
.c-sidebar .c-sidebar-nav-link:hover,
.c-sidebar .c-sidebar-nav-dropdown-toggle:hover {
  color: black !important;
  background-color: $primary-color;
  path {
    fill: white !important;
    stroke: white !important;
  }
}
.c-sidebar .c-sidebar-brand {
  background-color: white !important;
  font-size: 14px;
  font-weight: 500;
}
.c-sidebar .c-sidebar-nav-link,
.c-sidebar .c-sidebar-nav-dropdown-toggle,
.c-sidebar .c-sidebar-nav-dropdown-toggle {
  font-size: 14px;
  font-weight: 500;
  path {
    fill: black !important;
    stroke: black !important;
  }
}
.c-sidebar-nav-item:hover {
  background-color: $primary-color !important;
}
.c-sidebar .c-sidebar-nav-link:hover,
.c-sidebar .c-sidebar-nav-dropdown-toggle:hover {
  background-color: $primary-color !important;
}
.multistep-icon {
  // padding: 9px;
  display: inline-flex;
  padding: 10px !important;
  margin-top: 10px;
  border: 1px solid white;
  &:hover {
    color: white;
    cursor: pointer;
    background-color: $primary-color;
    border: 1px solid $primary-color;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
      rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
      rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    path {
      fill: white !important;
      stroke: white !important;
    }
  }
}
.label-icon {
  padding-left: 15px;
  padding-top: 6px;
}
.active-class2 {
  color: white;
  cursor: pointer;
  background-color: $primary-color;
  border: 1px solid $primary-color;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  path {
    fill: white !important;
    stroke: white !important;
  }
}
.sterick-field {
  color: red;
}
.c-switch-3d-primary .c-switch-input:checked + .c-switch-slider {
  background-color: $primary-color !important;
}
.subtitle {
  color: $blue-D96;
  font-weight: 400;
  font-size: 12px;
}
.react-daterange-picker,
.react-daterange-picker *,
.react-daterange-picker ::before,
.react-daterange-picker ::after {
  padding: 1px !important;
  padding-bottom: 2px !important;
}
.react-daterange-picker__wrapper {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  align-items: center;
  border: thin solid lightgray !important;
  border-radius: 5px;
  color: lightgray !important;
}
.react-daterange-picker__button {
  border: 0;
  background: transparent;
  padding: 4px 6px !important;
  padding-top: 5px !important;
}

.switch-wrapper {
  align-items: center;
  margin-top: 7px;
  background-color: white;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  position: relative;
  float: right;
}

.switch {
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  height: 24px;
  margin: 0 0 10px;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 56px;

  &__label {
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  &__input {
    opacity: 0;

    &:checked {
      ~ .switch__text {
        background: $primary-color;

        &:before {
          opacity: 0;
          transform: translateX(200%);
        }

        &:after {
          opacity: 1;
          transform: translateX(0);
        }
      }

      ~ .switch__handle {
        transform: translateX(32px);
      }
    }
  }

  &__text {
    background-color: #e5e5e5;
    border-radius: 50px;
    box-sizing: border-box;
    display: block;
    flex: 0 0 auto;
    height: 24px;
    margin: 0;
    position: absolute;
    top: 0;
    width: 56px;

    &:before,
    &:after {
      color: SlateGrey;
      font-size: 12px;
      font-weight: 700;
      line-height: 25px;
      position: absolute;
      transition: all 0.2s ease-in-out;
      transition-property: transform;
    }

    &:before {
      content: attr(data-off);
      right: 8px;
      transform: translateX(0);
    }

    &:after {
      color: white;
      content: attr(data-on);
      left: 9px;
      opacity: 0;
      transform: translateX(-200%);
    }
  }

  &__handle {
    background-color: white;
    border-radius: 18px;
    display: block;
    height: 20px;
    margin: 2px;
    padding: 0;
    position: absolute;
    top: 0;
    transition: all 0.2s ease-in;
    transition-property: transform;
    width: 20px;
  }

  &--large {
    height: 30px;
    width: 120px;

    .switch__input {
      &:checked {
        ~ .switch__handle {
          transform: translateX(90px);
        }
      }
    }

    .switch__text {
      height: 30px;
      width: 120px;

      &:before,
      &:after {
        font-size: 14px;
        line-height: 30px;
        position: absolute;
      }

      &:before {
        right: 10px;
      }

      &:after {
        left: 12px;
      }
    }

    .switch__handle {
      height: 26px;
      width: 26px;
    }
  }
}

#seconddiv.coolclass {
  max-height: 100%;
}

#seconddiv {
  max-height: 0%;
  transition: 0.5s;
  overflow: hidden;
}

.invoice-box {
  max-width: 800px;
  margin: auto;
  padding: 30px;
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  line-height: 24px;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  color: #555;
  margin-bottom: 40px !important;
  background: white !important;
}

.invoice-box table {
  width: 100%;
  line-height: inherit;
  text-align: left;
}

.invoice-box table td {
  padding: 5px;
  vertical-align: top;
}

.invoice-box table tr td:nth-child(2) {
  text-align: right;
}

.invoice-box table tr.top table td {
  padding-bottom: 20px;
}

.invoice-box table tr.top table td.title {
  font-size: 45px;
  line-height: 45px;
  color: #333;
}

.invoice-box table tr.information table td {
  padding-bottom: 40px;
}

.invoice-box table tr.heading td {
  background: #eee;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}

.invoice-box table tr.details td {
  padding-bottom: 20px;
}

.invoice-box table tr.item td {
  border-bottom: 1px solid #eee;
}

.invoice-box table tr.item.last td {
  border-bottom: none;
}

.invoice-box table tr.total td:nth-child(2) {
  border-top: 2px solid #eee;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .invoice-box table tr.top table td {
    width: 100%;
    display: block;
    text-align: center;
  }

  .invoice-box table tr.information table td {
    width: 100%;
    display: block;
    text-align: center;
  }
}

/** RTL **/
.invoice-box.rtl {
  direction: rtl;
  font-family: Tahoma, "Helvetica Neue", "Helvetica", Helvetica, Arial,
    sans-serif;
}

.invoice-box.rtl table {
  text-align: right;
}

.invoice-box.rtl table tr td:nth-child(2) {
  text-align: left;
}
